*{
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

.header{
    display: flex;
    background-color: #1f2937;
    gap: 16px;
    padding: 8px 40px;
    align-items: center;
}

.header img{
    margin-right: auto;
    max-width: 32px;
}