*{
    padding: 0;
    margin: 0;
}

.first-section{
    background-color: #1f2937;
    padding: 8px 40px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.header{
    display: flex;
    gap: 16px;
    align-items: center;
}

.header img{
    margin-right: auto;
    max-width: 32px;
}

.first-section .content{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.first-section .content div{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}
.first-section .content button{
    background-color: #3882f6;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
}

.first-section .content img{
    max-width: 30%;
    border-radius: 16px;
}

.second-section{
    padding: 32px;
}

.second-section h2{
    text-align: center;
    margin-bottom: 24px;
}

.second-section img{
    height: 100px;
    width: 100px;
    border: #3882f6 solid 4px;
    border-radius: 12px;
}

.services{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.service-card p{
    text-align: center;
}